George is the content head of a prestigious book publishing company. He needs to decide on which type/genre of book to publish next so that it can become a bestseller. Now you as the Data Analyst have chosen to research how users respond to different types of genres. This is the opportunity for you to shine like a star and show your data analytics skill. Letâ€™s start the process by performing EDA on the provided Dataset.

[Dataset](https://docs.google.com/spreadsheets/d/1bCYeC2tX1-Lkp-zeAkmRRckM4m8vR8CnHxK2aJXSVIs/edit#gid=1322732088)

In this work, exploratory data analysis has been carried out on the dataset Amazon's Top 50 bestselling books from 2009 to 2019.

FEATURES:

Name - Name of the Book

Author - The author of the Book

User Rating - Amazon User Rating

Reviews - Number of written reviews on amazon

Price - The price of the book (As at 13/10/2020)

Year - The Year(s) it ranked on the bestseller

Genre - Whether fiction or non-fiction

## Understand your dataset:

In this section we are going to get some basic information about our dataset like:
- Read the dataset
- Get the basic info about the data set.
- Find out about the missing values.
- Describe the numerical values on various parameters.
- Datatype of columns

### Data types

### Missing Values

### Handling Duplicates

Check if the columns contains words in different case and extra spaces.

Also check if there are the same author names but with different spellings.

After handling missing values are removing duplicates, the data contains 350 different books written by 246 authors. All books are presented in two categories (Non Fiction, Fiction).

## Book Ratings

Ranking by rating gives a relatively high number of max (4.9) ratings, however, we can see significant differences in the number of reviews, with some books having just over 3000 reviews while some have about 20,000.

A weighted rating, that takes into consideration the number of reviews, will be a better option for this ranking.



> **Weighted Average Rating = (v/(v+m) * R) + (m/(m+v) * C)**




where R = average rating for the book

v = number of reviews for the book

m = minimum reviews required to be listed in the best seller list

C = the mean rating in the dataset

While a number of rows in the weighted rating column can still be rounded up to 4.9, there is enough of a difference between the various books that they can be ranked.

### Add Weighted Average Rating Column to the dataset

## Visualizing the data

Let's create new dataframes based on:

### The average rating of authors

### The number of books written by authors

### The number of reviews for books

### The number of books by genre

## Statistical Testing

### Is the dataset distributed normally?

### Average and median book ratings

### If there are outliers in the dataset.

### Correlation between User ratings, reviews and price.

To this point, we have a great level of understanding of our dataset. Now we can easily move to our main question:

**Do users evaluate books differently depending on the genre.**

We can divide this question into parts:

### Formulate the null and alternative hypotheses.

### Checking the distribution for normality.

### Form two samples for testing.

### Carry out hypothesis testing.